body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?');
}

.card{
    background: #010101d0;
    padding: 2em;
    color: #f0ece2;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 0.3em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 0.5em;
    border-radius: 100%;
    border: none;
    height: 3.4em;
    width: 3.4em;
    background: #bbbfca5e;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-right: 4em;
}

button:hover{
background: #68bb7e;
}

.material-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

input.search-bar{
    border: none;
    outline: none;
    border-radius: 4.5px;
    padding: 0.38em 1em;
    width: calc(100% - 150px);
    margin-right: auto;
    background: #bbbfca33;
    color: #f0ece2;
    font-family: inherit;
    font-size: 120%;
    transition: 0.3s ease-in-out;
}

input.search-bar:hover{
    background: #bbbfca8b;
    }

h1.temp{
    margin: 0;
    margin-bottom: 0.5em;
}

.description{
    text-transform: capitalize;
    margin-left: 0.1em;
}

.flex{
    display: flex;
    align-items: center;
}

.humidity{
    margin-bottom: 0.3em;
}

.weather.loading{
    visibility: hidden; 
    max-height: 20px;
    position: relative;
}

.weather.loading::after{
    visibility: visible;
    content: 'Loading...';
    color: white;
    position: absolute;
    top: 0;
    left: 160px;
}